@import './var';

html {
  font-size: 16px;
}

body {
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  font: {
    family: 'Roboto', sans-serif;
    weight: 400;
    size: 16px;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 680px) {
    padding: 0 20px;
  }

  @media (max-width: 360px) {
    padding: 0 10px;
  }
}

.header {
  background-color: $black;
  font-weight: 500;
  color: $white;
  z-index: 1;

  &__title {
    font-size: 0;
  }

  &__logo {
    width: 82px;
    height: 52px;

    &-img {
      height: 100%;
      width: 100%;
    }

    @media(min-width: 681px) {
      border: solid 0.5px $white;
    }

    @media(max-width: 680px) {
      width: 46px;
      height: 29px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 80px;

    @media(max-width: 680px) {
      height: 34px;
      justify-content: space-between;
    }

    &-nav-copyright {
      flex: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 63px;

      @media(max-width: 780px) {
        margin-left: 30px;
      }

      @media(max-width: 680px) {
        display: none;
      }
    }
  }

  &__copyright-link {
    &:hover {
      transition: color .3s ease;
      color: $orange;
    }
  }

  &__burger {

    @media(min-width: 681px) {
      display: none;
    }

    @media (max-width: 680px) {
      & {
        position: relative;
        cursor: pointer;
      }

      .line,
      .line::before,
      .line::after {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
      }

      // .line {
      //   margin: 13px auto;
      // }
      .line::before,
      .line::after {
        content: '';
        transition: all .2s;
      }

      .line::before {
        transform: translateY(-4px);
      }

      .line::after {
        transform: translateY(2px);
      }

    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 59px;

    @media (max-width: 1000px) {
      gap: 48px;
    }

    @media(max-width: 780px) {
      gap: 30px;
    }

    &-link {

      &:hover,
      &.active {
        color: $orange;
        transition: color .3s ease;
      }

      &.active {
        cursor: default;
      }
    }
  }
}

.btn {
  width: 18.625rem; //298px;
  height: 3.375rem; //54px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 3.375rem; //54px;
  color: $white;
  background: $linearColor;

  &:hover {
    background: $btnHover;
    transition: background-color .3s ease;
  }
}

.btn-1 {
  border-radius: 25px;
}

.btn-2 {
  border-radius: 5px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.h3-title {
  font-weight: 400;
  font-size: 36px;
}

.footer {
  background-color: $footerColor;
  color: $white;
  // height: 443px;

  &__upper,
  &__middle,
  &__lower {
    display: flex;
    justify-content: space-between;
  }

  &__upper {
    padding: 40px 0px 39px;

    @media(max-width: 1000px) {
      padding-right: 32px;
    }
  }

  &__middle {
    padding-bottom: 44px;
  }

  &__subscribe {
    &-subtitle {
      padding-bottom: 14px;
    }

    &-email {
      width: 14.25rem; //228px;
      height: 2.625rem; //42px;
      font-size: inherit;
      border: 0.7px solid $orange;
      border-radius: 2px;
      background-color: inherit;
      color: $gray4;
      padding: 10px 7px 10px 10px;

      &:focus,
      &:focus-visible {
        border-color: $green;
        outline: none !important;
      }

      &:invalid {
        border-color: $red;
      }
    }

    &-submit {
      width: 8.0625rem; //129px;
      height: 2.625rem; //42px;
      font-size: inherit;
      background-color: $lightGray;
      color: $blackBlue;
      border: 1px solid $blackBlue;
      border-radius: 5px;

      &:valid {
        cursor: pointer;
      }

      &:invalid {
        border-color: $red;
        color: $red;
      }
    }


    &-email+&-submit {
      margin-left: 6px;
    }
  }

  &__lower {
    align-items: flex-end;
    padding-bottom: 50px;
  }

  &__social {
    min-width: 14.375rem; //230px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-link {
        display: flex;
        width: fit-content;

        >svg {
          margin-right: 12px;
        }

        &:hover {
          color: $green;
          transition: color .3s ease;

          >svg circle {
            fill: $green;
          }
        }
      }

      &-item {
        max-height: 26px;
      }
    }

    &-text {
      margin-top: 3px;
    }

    &-logo {
      width: 1.625rem; //26px;
      height: 1.625rem; //26px;
      margin-right: 0.75rem; //12px;
    }
  }

  &__copyright {
    max-width: 14.375rem; //230px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.7;

    @media (max-width: 1000px) {
      max-width: 14.4rem;
      // line-height: 1.3;
    }
  }

  &__nav-list {
    margin: 0 167px;

    @media (max-width: 1599px) {
      margin: 0px 25px 0px 0px;
    }
  }
}