@import './var';

body {
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  font: {
    family: 'Roboto', sans-serif;
    weight: 400;
    size: 16px;
  }
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: $black;
  font-weight: 500;
  color: $white;
  z-index: 0;

  &__title {
    font-size: 0;
  }

  &__logo {
    width: 82px;
    height: 52px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &-logo-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 63px;
    }
  }

  &__copyright-link {
    &:hover {
      transition: color .3s ease;
      color: $orange;
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 58px;

    &-link {

      &:hover,
      &.active {
        color: $orange;
        transition: color .3s ease;
      }

      &.active {
        cursor: default;
      }
    }
  }
}

.btn {
  width: 298px;
  height: 54px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 54px;
  color: $white;
  background: $linearColor;

  &:hover {
    background: $btnHover;
    transition: background-color .3s ease;
  }
}

.btn-1 {
  border-radius: 25px;
}

.btn-2 {
  border-radius: 5px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.h3-title {
  font-weight: 400;
  font-size: 36px;
}

.footer {
  background-color: $footerColor;
  color: $white;
  height: 443px;

  &__upper,
  &__middle,
  &__lower {
    display: flex;
    justify-content: space-between;
  }

  &__upper {
    padding: 40px 0px 36px;
  }

  &__middle {
    margin-bottom: 44px;
  }

  &__subscribe {
    &-subtitle {
      padding-bottom: 14px;
    }

    &-email {
      width: 228px;
      height: 42px;
      font-size: inherit;
      border: 0.7px solid $orange;
      border-radius: 2px;
      background-color: inherit;
      color: $gray4;
      padding: 10px 7px 10px 10px;

      &:focus,
      &:focus-visible {
        border-color: $green;
        outline: none !important;
      }

      &:invalid {
        border-color: $red;
      }
    }

    &-submit {
      width: 129px;
      height: 42px;
      font-size: inherit;
      background-color: $lightGray;
      color: $blackBlue;
      border: 1px solid $blackBlue;
      border-radius: 5px;

      &:valid {
        cursor: pointer;
      }

      &:invalid {
        border-color: $red;
        color: $red;
      }
    }


    &-email+&-submit {
      margin-left: 6px;
    }
  }

  &__lower {
    align-items: flex-end;
    height: 134px;
  }

  &__social {
    min-width: 230px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-link {
        display: flex;
        width: fit-content;

        >svg {
          margin-right: 12px;
        }

        &:hover {
          color: $green;
          transition: color .3s ease;

          >svg circle {
            fill: $green;
          }
        }
      }

      &-item {
        max-height: 26px;
      }
    }

    &-text {
      margin-top: 3px;
    }

    &-logo {
      width: 26px;
      height: 26px;
      margin-right: 12px;
    }
  }

  &__copyright {
    max-width: 230px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.7;
  }

  &__nav-list {
    margin: 0 169px;
  }
}