//colors
$black: #000;
$footerColor: #111115;
$green: #4B9200;
$blackBlue: #333B41;
$white: #fff;
$orange: #F9804B;
$textInputColor: #BDBDBD;
$lightGray: #F1F3F2;
$red: #D31414;
$btnHover: #E47209;
$yellow: #FFEE2E;