@import './var';

body {
  font: {
    family: 'Roboto', sans-serif;
    weight: 400;
    size: 16px;
  }

  line-height: 1.4;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: $headerColor;
  font-weight: 500;
  color: $textSecondColor;

  &__title {
    font-size: 0;
  }

  &__logo {
    width: 82px;
    height: 52px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &-logo-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 63px;
    }
  }

  .nav {
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 58px;

      &-link {

        &:hover,
        &.active {
          color: $textSecondActiveColor;
        }
        &.active {
          cursor: default;
        }
      }
    }
  }

  &__copyright-link {
    &:hover {
      color: $textSecondActiveColor;
    }
  }
}