@import './var';
@import './global';

.watch {
  background: url(../assets/images/panda.jpg) center/cover no-repeat;

  &__inner {
    height: 780px;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__text {
    width: 500px;
    height: 400px;
    margin-top: 166px;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    font: {
      weight: 700;
      size: 106.496px;
    }

    line-height: 0.75;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    &-yellow {
      color: $yellow;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 9px;
      right: 108px;
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      z-index: -1;
    }
  }

  &__button {
    margin-right: 100px;
  }
}

.backstage {
  padding-top: 140px;
  height: 640px;
  background: url(../assets/images/flower_foto.jpg) no-repeat right center;
  &__innner {
    display: flex;
  }
  &__left {
    flex: 1 0 auto;
    width: 609px;
    height: 403px;
    margin-right: 87px;
    background: url(../assets/images/bamboo-cap.jpg);
    filter: blur(2px);
  }
  &__right {
    // flex: 0 1 auto;
    &-title {
      margin-bottom: 20px;
    }
    .text-title {
      margin-bottom: 54px;
      line-height: 1.3;
    }

    &-subtitle {
      margin-bottom: 34px;
    }
  }

}