.main {

  &__wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__top {
    display: flex;
  }

  .language {
    width: 40px;
    height: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }

  &__btn {
    margin: 20px auto 20px;

    &-link {
      display: block;
      min-width: 240px;
      background-color: $btnColor;
      border-radius: 10px;
      text-align: center;
      padding: 10px 0px;
      cursor: pointer;

      &:hover {
        color: $textColorSecond;
        background-color: $btnColorHover ;
      }
    }
  }

  &__videoplayer {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}