.garage {
  &__make {
    margin-bottom: 20px;

    &>div {
      margin-bottom: 10px;
    }
  }

  &__track {

    &-cars,
    &-page {
      margin-bottom: 20px;
    }
  }
}

.edit-btn {
  margin-bottom: 10px;
}

.way {
  height: 40px;
  border-bottom: 2px dashed black;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
  position: relative;
}

.track-car {
  position: relative;
}

.car-image {
  position: relative;
  width: 50px;

  &-svg {
    height: 45px;
    width: 100%;
    position: absolute;
  }
}

.finish-image {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 60px;
  bottom: 0px;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 30px;
}